.homepage_wrapper {
  background-color: var(--color-black);
  color: var(--color-white);
  /* height: 100vh; */
  width: 100%;
}

.songs_wrapper {
  background-color: var(--color-black);
  height: min-content;
  border: 0.5px solid var(--color-primary);
  border-left: none;
  border-right: none;
  padding: 25px 0px 0px 0px;
}